.status-table
  .col-updated
    width: rem(150px)
    border-left: 1px solid $table-border-color
  .col-status
    width: rem(80px)
    +mobile()
      display: none
  .col-action
    width: rem(80px)
