.widget-tags .tag-list-count, .widget-archives .archive-list-count
  margin-left: rem(5px)
  font-size: rem($font-size-small)
  color: oc-gray-5

  &:before
    content: '('

  &:after
    content: ')'
