$bg-color = oc-gray-1
$footer-bg-color = oc-gray-2
$footer-fore-color = oc-gray-7

$default-color = oc-gray-2
$primary-color = oc-pink-6
$secondary-color = oc-yellow-5
$highlight-color = #df6589

$text-color = oc-gray-7
$header-color = oc-gray-8
$blockquote-color = #999
$small-color = #888

$font-size = 16px
$font-size-secondary = 14px
$font-size-small = 13px
$font-size-icon = 16px
$font-size-title = 20px

$table-border-color = $default-color
$table-padding-h = 10px

$grid-padding-large = 30px
$grid-padding-medium = 20px
$grid-padding-small = 18.5px

$primary-font-family = "Open Sans", "Seravek", "Segoe UI", "Verdana", "PingFang SC", "Hiragino Sans GB", "Lantinghei SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans"
$header-font-family = "Open Sans", "Seravek", "Segoe UI", "Verdana", "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "sans-serif"
$code-font-family = "monaco", "Source Code Pro", "Consolas", "Courier New", "monospace"

$header-height = 200px
$header-bg-color = oc-gray-8

$slideout-trigger-height = 50px
$slideout-trigger-bg-color = transparent
$slideout-trigger-fore-color = #FFF
$slideout-trigger-icon-color = oc-gray-0

$slideout-bg-color = #283136

$nav-height = 50px
$nav-bg-color = transparent
$nav-logo-color = #FFF
$nav-inactive-fore-color = oc-gray-6
$nav-hover-fore-color = oc-gray-3
$nav-hover-strip-color = $primary-color
$nav-active-fore-color = oc-gray-0
$nav-active-strip-color = $secondary-color

$main-offset-top = -100px
$content-bg-color = #FFF
$side-bg-color = oc-gray-0

$section-separator-color = $default-color

$comment-separator-color = $default-color
